.body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 100px;
height: 100vh;
background-color: var(--color-blue600);
}

.logoTitle{
    gap: 5px;
}

.buttonsContainer{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    gap: 28px;
}