.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-brown900);
    color: var(--color-white);
    height: 100dvh;
}

.content{
    padding-top: 5dvh;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
gap: 32px;
align-items: center;
height: 85dvh;

}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}