.body{
    background-color: var(--color-blue700);
    color: var(--color-white);
    display: flex;
    align-items: center;
    flex-direction: column;
   /* justify-content: center;*/
    padding-left: 32px;
    padding-right: 32px;
    min-height: 100dvh;
    padding-bottom: 0;
    gap: 20px;
    overflow: hidden;
    
}

.contentContainer{
gap: 4px;
}

.cont{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    gap: 32px;
}

